
<body>
  <header id="wholeheader">
    <div class="header-main-container">
      <div class="header-actual-container">
        <h1 class="header-logo-container">
          <a class="header-logo">miras</a>
        </h1>
        <input type="checkbox" id="header-trigger" class="header-checkbox">
        <label id="sidelabel" for="header-trigger">
          <span class="header-trigger-icon">
            <i class="header-trigger-cross-hatch icon-menu" id="crosshatch"></i>
          </span>
        </label>
        <nav class="header-nav" id="wholenav">
          <div class="header-nav-primary">
            <ol class="header-nav-list">
              <li class="header-nav-list-item">
                <a class="header-nav-list-link" href="#firstPage">
                  Our stations
                </a>
              </li>
              <li class="header-nav-list-item">
                <a class="header-nav-list-link" href="#firstPage">
                  Join our Team
                </a>
              </li>
              <li class="header-nav-list-item">
                <a class="header-nav-list-link" href="#firstPage">
                  Legacy
                </a>
              </li>
              <li class="header-nav-list-item">
                <a class="header-nav-list-link" href="#firstPage">
                  Adress
                </a>
              </li>
              <li class="header-nav-list-item header-hide-on-mobile">
                <a class="header-nav-list-link" href="#firstPage">
                  Supported Cars
                </a>
              </li>
              
              <li class="header-nav-list-item header-hide-on-desk">
                <a class="header-nav-list-link">
                  Find Us
                </a>
              </li>
              <li class="header-nav-list-item">
                <a class="header-nav-list-link" href="#3rdPage">
                  Social Responsibility
                </a>
              </li>
              <li class="header-nav-list-item header-nav-list-last-item">
                <ol class="header-nav-list header-nav-primary-right">
                  <li class="header-nav-list-item">
                    <a class="header-nav-list-link">
                      Shop
                    </a>
                  </li>
                  <li class="header-nav-list-item">
                    <a class="header-nav-list-link link-for-logout header-nav-auth-link">
                      Tesla Account
                    </a>
                  </li>
                  <li class="header-nav-list-item">
                    <button class="btn btn-info my-2 my-sm-0" (click)="goToApp()">Go to App</button>
                  
                  </li>
                </ol>
              </li>
            </ol>
          </div>
          <div class="header-nav-secondary" id="sidebarsecondary">
            <label for="header-nav-secondary-show" class="header-nav-list-link">
              More <span class="header-more-span">></span>
            </label>
            <ol class="header-nav-list header-nav-parent-nav">
              <li class="header-nav-list-item header-hide-on-mobile">
                <a class="header-nav-list-link">
                  Used Inventory
                </a>
              </li>
              <li class="header-nav-list-item header-hide-on-mobile">
                <a class="header-nav-list-link">
                  Find Us
                </a>
              </li>
              <li class="header-nav-list-item">
                <a class="header-nav-list-link">
                  Support
                </a>
              </li>
              <li class="header-nav-list-item">
                <a class="header-nav-list-link">
                  Get Newsletter
                </a>
              </li>
              <li class="header-nav-list-item">
                <a class="header-nav-list-link">
                  News
                </a>
              </li>
              <li class="header-nav-list-item header-hide-on-desk">
                <a class="header-nav-list-link">
                  Roadster
                </a>
              </li>
              <li class="header-nav-list-item header-hide-on-desk">
                <a class="header-nav-list-link">
                  New Iventory
                </a>
              </li>
              <li class="header-nav-list-item">
                <a class="header-nav-list-link">
                  Charging
                </a>
              </li>
              <li class="header-nav-list-item">
                <a class="header-nav-list-link">
                  Semi
                </a>
              </li>
              <li class="header-nav-list-item">
                <a class="header-nav-list-link">
                  Carbon Impact
                </a>
              </li>
            </ol>
          </div>
          <div class="header-nav-meta-info">
            <div class="header-nav-account-links">
              <a class="header-nav-meta-link link-for-login">
                SIGN IN
              </a>
              <a class="header-nav-meta-link link-for-logout">
                Tesla Account
              </a>
              <a class="header-nav-meta-link link-for-logout">
                Sign Out
              </a>
            </div>
          </div>
        </nav>
        <span id="header-mask">
  
        </span>
      </div>
    </div>
  </header>

  <h1 class="main-header-logo-container">
    <a class="header-logo">Ras, a dobrze</a>
  </h1>
    
</body>
