<nav class="navbar navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto">
        <a class="navbar-brand text-white">Admin Panel</a>
    </ul>
    <button class="btn btn-dark my-2 my-sm-0 btn-bar" (click)="goToUser()">Back</button>
    <button class="btn btn-danger my-2 my-sm-0 btn-bar" (click)="onLogout()">Log out</button>
</nav>




<div class="wrapper">

    <div class="wrapped-div">

        <div class="tab-header">
            <a class="list-group-item " routerLink='/user-registration' routerLinkActive='active'>Customer</a>
            <a class="list-group-item" routerLink='/user-registration' routerLinkActive='active'>Mechanic</a>
            <a class="list-group-item" routerLink='/user-registration' routerLinkActive='active'>Store man</a>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>